.navbar {
    background-color: #4CAF50;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .logo h1 {
    color: white;
  }
  
  .navbar ul {
    list-style-type: none;
  }
  
  .navbar ul li {
    display: inline;
    margin: 0 15px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  